
*.ide
*.dll
leaguesharp_common-master/.vs/LeagueSharp.Common/v15/.suo
*.ide
*.pdb
*.cache
leaguesharp_common-master/.vs/LeagueSharp.Common/v15/.suo
*.ide
leaguesharp_common-master/.vs/LeagueSharp.Common/v15/.suo
*.ide
*.ide-wal
*.ide-wal
leaguesharp_common-master/.vs/LeagueSharp.Common/v15/Server/sqlite3/storage.ide-wal
*.exe
*.exe
*.ide-wal
OneKeyToWin_AIO_Sebby/.vs/OneKeyToWin_AIO_Sebby/v15/.suo
leaguesharp_common-master/obj/Debug/LeagueSharp.Common.csproj.FileListAbsolute.txt
leaguesharp_common-master/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
leaguesharp_common-master/obj/Debug/LeagueSharp.Common.csproj.CopyComplete
leaguesharp_common-master/obj/Debug/LeagueSharp.Common.Properties.Resources.resources
leaguesharp_common-master/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
leaguesharp_common-master/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneKeyToWin_AIO_Sebby/.vs/OneKeyToWin_AIO_Sebby/v15/.suo
OneKeyToWin_AIO_Sebby/.vs/OneKeyToWin_AIO_Sebby/v15/Server/sqlite3/storage.ide-wal
OneKeyToWin_AIO_Sebby/OneKeyToWin_AIO_Sebby/bin/Release/OneKeyToWin_AIO_Sebby.exe
OneKeyToWin_AIO_Sebby/.vs/OneKeyToWin_AIO_Sebby/v15/.suo
OneKeyToWin_AIO_Sebby/.vs/OneKeyToWin_AIO_Sebby/v15/.suo
*.ide-shm
*.config
*.CopyComplete
*.txt
